<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Servicio Dental de CECyT 9</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/stylemensajes.css">
        <script src="static/js/mensajes.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="contenedor">
           <h1>Imagen logoyletra Medical</h1>
        </div>
           <h2>Servicio Dental CECyT 9</h2>
           <div class="contenedor">
               <div class="showcase todo">
             <div class="showcase inicio">
                 <div class="contenedor">
                     <p>
                         Iniciar Sesion
                    </p>
                 </div>
            </div>
            <br>
            <br>
            <div class="showcase ">
               <button class="button button-rounded button-flat-primary alumno colormedical" id="alumno" value="alumno">
                   <img src="static/css/imagen/inicio.alumno.png" width="40" height="40" > 
                   
                   <a href="inicalumno.html" style="color:white; text-decoration: none;">
                   Alumno
                   </a>
            </button>
            </div>
            <div class="showcase">
                <button class="button button-rounded button-flat-primary colormedical" id="Dentista" value="dentista">
                    <img src="css/imagen/inicio.dental.png" width="40" height="40" >    
                    <a href="inientista.html" style="color:white; text-decoration: none;">
                    Dentista
                    </a>
                </button>
            </div>   
          </div>
           </div>
    </body>
</html>
